*{
    margin:0; 
    padding:0;
    box-sizing:border-box;
} 

body{
    font-family: Arial, Helvetica, sans-serif;
} 

.wrapper{
    width:100vw;
    height:100vh;
    background-color: #191c32;
    color:#fff;
}  

.navbar{
    display:flex;
    justify-content:space-between; 
    padding:2em;
}  

.brand span{
    color: aquamarine;
} 

/*menu*/

.menu{
    display:flex;
    justify-content: space-around; 
    width:50%; 
    list-style: none; 
    padding-top:0.4em; 
} 

.menu .active{
    color:aquamarine;
}

.menu li{
    style:none;
}

.menu a{
    color:#fff; 
    text-decoration: none;
} 

.menu a:hover{
    background-color: aquamarine; 
    color:#191c32;
}